<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>PhotoGallery</servlet-name>
    <servlet-class>HitServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PhotoGallery</servlet-name>
    <url-pattern>/PhotoGallery</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UploadPage</servlet-name>
    <servlet-class>UploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UploadPage</servlet-name>
    <url-pattern>/UploadPage</url-pattern>
  </servlet-mapping>
  
</web-app>
